{"openapi":"3.1.0","info":{"title":"Orders Doston API","description":"Mahsulot, buyurtma, qarz va hisobot boshqaruvi uchun REST API","contact":{"name":"Samandar","email":"zamonagency@gmail.com"},"version":"v1.0"},"servers":[{"url":"https://api.netdc.uz","description":"Generated server url"}],"security":[{"Bearer Authentication":[]}],"tags":[{"name":"Sozlamalar","description":"Tizim sozlamalarini boshqarish"},{"name":"Ombor harakatlari","description":"Mahsulot ombor kirimi va chiqimini kuzatish"},{"name":"SMS","description":"SMS xabarlar va kampaniyalarni boshqarish"},{"name":"Buyurtmalar","description":"Buyurtmalarni yaratish va ko'rish"},{"name":"Autentifikatsiya","description":"Tizimga kirish va JWT token olish"},{"name":"Qurilmalar","description":"Push bildirishnoma uchun qurilma tokenlari"},{"name":"Qarzlar","description":"Mijoz qarzlarini boshqarish"},{"name":"Foydalanuvchilar","description":"Kassirlar va adminlarni boshqarish (faqat SUPER_ADMIN)"},{"name":"Chiqim","description":"Mahsulot chiqimlarini boshqarish"},{"name":"Hisobotlar","description":"Savdo hisobotlari va statistika"},{"name":"Mahsulotlar","description":"Mahsulotlarni boshqarish: qo'shish, tahrirlash, qidirish, ombor"}],"paths":{"/api/users/{id}":{"get":{"tags":["Foydalanuvchilar"],"summary":"Foydalanuvchini ID bo'yicha olish","operationId":"getById","parameters":[{"name":"id","in":"path","description":"Foydalanuvchi ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Foydalanuvchi topildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"404":{"description":"Foydalanuvchi topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}},"put":{"tags":["Foydalanuvchilar"],"summary":"Foydalanuvchini tahrirlash","operationId":"update","parameters":[{"name":"id","in":"path","description":"Foydalanuvchi ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Foydalanuvchi yangilandi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"404":{"description":"Foydalanuvchi topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}},"delete":{"tags":["Foydalanuvchilar"],"summary":"Foydalanuvchini o'chirish","operationId":"delete","parameters":[{"name":"id","in":"path","description":"Foydalanuvchi ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Foydalanuvchi o'chirildi"},"404":{"description":"Foydalanuvchi topilmadi"}}}},"/api/settings":{"get":{"tags":["Sozlamalar"],"summary":"Sozlamalarni olish","operationId":"getSettings","responses":{"200":{"description":"Joriy sozlamalar","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SettingsResponse"}}}}}},"put":{"tags":["Sozlamalar"],"summary":"Sozlamalarni yangilash","operationId":"updateSettings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsRequest"}}},"required":true},"responses":{"200":{"description":"Sozlamalar yangilandi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SettingsResponse"}}}},"400":{"description":"Noto'g'ri ma'lumot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SettingsResponse"}}}}}}},"/api/products/{id}":{"get":{"tags":["Mahsulotlar"],"summary":"Mahsulotni ID bo'yicha olish","operationId":"getById_1","parameters":[{"name":"id","in":"path","description":"Mahsulot ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Mahsulot topildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}},"404":{"description":"Mahsulot topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}},"put":{"tags":["Mahsulotlar"],"summary":"Mahsulotni tahrirlash","operationId":"update_1","parameters":[{"name":"id","in":"path","description":"Mahsulot ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"}}},"required":true},"responses":{"200":{"description":"Mahsulot yangilandi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}},"404":{"description":"Mahsulot topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}},"delete":{"tags":["Mahsulotlar"],"summary":"Mahsulotni o'chirish","operationId":"delete_1","parameters":[{"name":"id","in":"path","description":"Mahsulot ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Mahsulot o'chirildi"},"404":{"description":"Mahsulot topilmadi"}}}},"/api/debts/{id}":{"put":{"tags":["Qarzlar"],"summary":"Qarzni tahrirlash","operationId":"updateDebt","parameters":[{"name":"id","in":"path","description":"Qarz ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebtRequest"}}},"required":true},"responses":{"200":{"description":"Qarz yangilandi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebtResponse"}}}},"404":{"description":"Qarz topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebtResponse"}}}}}},"delete":{"tags":["Qarzlar"],"summary":"Qarzni o'chirish","operationId":"deleteDebt","parameters":[{"name":"id","in":"path","description":"Qarz ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"Qarz o'chirildi"},"404":{"description":"Qarz topilmadi"}}}},"/api/debts/{id}/pay":{"put":{"tags":["Qarzlar"],"summary":"Qarzni to'lash","operationId":"payDebt","parameters":[{"name":"id","in":"path","description":"Qarz ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebtPayRequest"}}},"required":true},"responses":{"200":{"description":"To'lov amalga oshirildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebtResponse"}}}},"404":{"description":"Qarz topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebtResponse"}}}}}}},"/api/users":{"get":{"tags":["Foydalanuvchilar"],"summary":"Barcha foydalanuvchilarni olish","description":"Sahifalangan holda foydalanuvchilar ro'yxati (default: 20 ta)","operationId":"getAll","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Foydalanuvchilar ro'yxati","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModel"}}}}}},"post":{"tags":["Foydalanuvchilar"],"summary":"Yangi foydalanuvchi yaratish","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRequest"}}},"required":true},"responses":{"201":{"description":"Foydalanuvchi yaratildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"400":{"description":"Noto'g'ri ma'lumot yoki PIN band","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/sms/send":{"post":{"tags":["SMS"],"summary":"SMS yuborish","description":"Eskiz bilan haqiqiy integratsiya hali ulanmagan. SMS_ENABLED=false bo'lganda bu endpoint 501 qaytaradi — kampaniyani saqlab 'yuborildi' deb yolg'on aytmaydi.","operationId":"sendSms","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsSendRequest"}}},"required":true},"responses":{"200":{"description":"SMS jo'natildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SmsCampaignResponse"}}}},"400":{"description":"Noto'g'ri ma'lumot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SmsCampaignResponse"}}}},"501":{"description":"SMS xizmati hali ulanmagan","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SmsCampaignResponse"}}}}}}},"/api/products":{"get":{"tags":["Mahsulotlar"],"summary":"Mahsulotlar ro'yxatini olish","description":"Nom bo'yicha qidirish imkoniyati bilan sahifalangan ro'yxat (default: 30 ta, nom bo'yicha o'sish tartibida)","operationId":"getAll_1","parameters":[{"name":"search","in":"query","description":"Qidiruv so'zi (mahsulot nomi)","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Mahsulotlar ro'yxati","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModel"}}}}}},"post":{"tags":["Mahsulotlar"],"summary":"Yangi mahsulot yaratish","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"}}},"required":true},"responses":{"201":{"description":"Mahsulot yaratildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}},"400":{"description":"Noto'g'ri ma'lumot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/api/products/{id}/restock":{"post":{"tags":["Mahsulotlar"],"summary":"Omborni to'ldirish (restock)","description":"Mahsulot miqdorini oshirish","operationId":"restock","parameters":[{"name":"id","in":"path","description":"Mahsulot ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestockRequest"}}},"required":true},"responses":{"200":{"description":"Ombor yangilandi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}},"404":{"description":"Mahsulot topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/api/products/{id}/outflow":{"post":{"tags":["Chiqim"],"summary":"Mahsulot chiqimini yaratish","description":"Berilgan mahsulot uchun chiqim (sarflash/yo'qotish) yaratish","operationId":"createOutflow","parameters":[{"name":"id","in":"path","description":"Mahsulot ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OutflowRequest"}}},"required":true},"responses":{"200":{"description":"Chiqim yaratildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OutflowResponse"}}}},"400":{"description":"Noto'g'ri ma'lumot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OutflowResponse"}}}},"404":{"description":"Mahsulot topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OutflowResponse"}}}}}}},"/api/products/receive":{"post":{"tags":["Mahsulotlar"],"summary":"Yangi tovar qabul qilish","description":"Yangi mahsulot yaratish yoki mavjudini to'ldirish (shtrix-kod orqali)","operationId":"receive","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StockReceiveRequest"}}},"required":true},"responses":{"200":{"description":"Tovar qabul qilindi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}},"400":{"description":"Noto'g'ri ma'lumot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/api/orders":{"get":{"tags":["Buyurtmalar"],"summary":"Barcha buyurtmalarni olish","description":"Sahifalangan holda buyurtmalar ro'yxati (default: 20 ta, vaqt bo'yicha kamayish tartibida)","operationId":"getAll_2","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Buyurtmalar ro'yxati","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModel"}}}}}},"post":{"tags":["Buyurtmalar"],"summary":"Yangi buyurtma yaratish","operationId":"create_2","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRequest"}}},"required":true},"responses":{"201":{"description":"Buyurtma yaratildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderResponse"}}}},"400":{"description":"Noto'g'ri ma'lumot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderResponse"}}}},"404":{"description":"Mahsulot topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderResponse"}}}}}}},"/api/devices/register":{"post":{"tags":["Qurilmalar"],"summary":"FCM tokenini ro'yxatdan o'tkazish","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/debts":{"get":{"tags":["Qarzlar"],"summary":"Barcha qarzlarni olish","description":"Sahifalangan holda qarzlar ro'yxati (default: 20 ta, vaqt bo'yicha kamayish tartibida)","operationId":"getAllDebts","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Qarzlar ro'yxati","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModel"}}}}}},"post":{"tags":["Qarzlar"],"summary":"Yangi qarz yaratish","operationId":"createDebt","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DebtRequest"}}},"required":true},"responses":{"201":{"description":"Qarz yaratildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebtResponse"}}}},"400":{"description":"Noto'g'ri ma'lumot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DebtResponse"}}}}}}},"/api/auth/login":{"post":{"tags":["Autentifikatsiya"],"summary":"Tizimga kirish","description":"PIN kod orqali tizimga kirib JWT token olish","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"Muvaffaqiyatli kirildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}},"401":{"description":"PIN noto'g'ri","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}},"429":{"description":"Juda ko'p noto'g'ri urinish","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/api/users/{id}/status":{"patch":{"tags":["Foydalanuvchilar"],"summary":"Foydalanuvchi holatini o'zgartirish","description":"Foydalanuvchini faol/nofaol qilish","operationId":"toggleStatus","parameters":[{"name":"id","in":"path","description":"Foydalanuvchi ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserStatusRequest"}}},"required":true},"responses":{"200":{"description":"Holat o'zgartirildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"404":{"description":"Foydalanuvchi topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/stock-movements":{"get":{"tags":["Ombor harakatlari"],"summary":"Barcha ombor harakatlarini olish","description":"Vaqt oralig'i va harakat turi bo'yicha filtrlash mumkin, sahifalangan holda (default: 20 ta, vaqt bo'yicha kamayish tartibida)","operationId":"getStockMovements","parameters":[{"name":"from","in":"query","description":"Boshlanish vaqti (ISO 8601)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"Tugash vaqti (ISO 8601)","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"type","in":"query","description":"Harakat turi: IN, OUT","required":false,"schema":{"type":"string","enum":["IN","OUT","SALE","ADJUSTMENT"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Ombor harakatlari ro'yxati","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModel"}}}}}}},"/api/sms/campaigns":{"get":{"tags":["SMS"],"summary":"SMS kampaniyalar ro'yxatini olish","description":"Sahifalangan holda (default: 20 ta, vaqt bo'yicha kamayish tartibida)","operationId":"getCampaigns","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Kampaniyalar ro'yxati","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModel"}}}}}}},"/api/sms/balance":{"get":{"tags":["SMS"],"summary":"SMS balansni tekshirish","operationId":"getBalance","responses":{"200":{"description":"Joriy SMS balans","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SmsBalanceResponse"}}}}}}},"/api/reports":{"get":{"tags":["Hisobotlar"],"summary":"Sana oralig'i hisoboti","description":"Ikki sana orasidagi savdo umumiy hisoboti","operationId":"range","parameters":[{"name":"from","in":"query","description":"Boshlanish sanasi (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"Tugash sanasi (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Oraliq hisobot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesReportResponse"}}}}}}},"/api/reports/range-daily":{"get":{"tags":["Hisobotlar"],"summary":"Kunlar bo'yicha tafsilotli hisobot","description":"Sana oralig'idagi har bir kun uchun alohida savdo ma'lumotlari","operationId":"rangeDaily","parameters":[{"name":"from","in":"query","description":"Boshlanish sanasi (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"Tugash sanasi (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Kunlar ro'yxati","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DailySalesResponse"}}}}}}}},"/api/reports/export":{"get":{"tags":["Hisobotlar"],"summary":"Hisobotni CSV formatda yuklash","description":"Sana oralig'idagi hisobotni CSV fayl sifatida yuklab olish","operationId":"export","parameters":[{"name":"from","in":"query","description":"Boshlanish sanasi (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"Tugash sanasi (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"format","in":"query","description":"Format (hozircha faqat csv)","required":false,"schema":{"type":"string","default":"csv"}}],"responses":{"200":{"description":"CSV fayl","content":{"*/*":{"schema":{"type":"string","format":"byte"}}}}}}},"/api/reports/daily":{"get":{"tags":["Hisobotlar"],"summary":"Kunlik hisobot","description":"Berilgan sana uchun savdo hisoboti (sana ko'rsatilmasa bugungi kun olinadi)","operationId":"daily","parameters":[{"name":"date","in":"query","description":"Sana (YYYY-MM-DD), bo'sh qolsa bugun","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Kunlik hisobot","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesReportResponse"}}}}}}},"/api/reports/by-user":{"get":{"tags":["Hisobotlar"],"summary":"Kassirlar bo'yicha hisobot","description":"Har bir foydalanuvchi (kassir) uchun savdo statistikasi","operationId":"byUser","parameters":[{"name":"from","in":"query","description":"Boshlanish sanasi (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","description":"Tugash sanasi (YYYY-MM-DD)","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"Foydalanuvchilar savdo ro'yxati","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserSalesResponse"}}}}}}}},"/api/products/{id}/restock-history":{"get":{"tags":["Ombor harakatlari"],"summary":"Mahsulot tovar qabul qilish tarixi","description":"Berilgan mahsulot uchun barcha restock operatsiyalari","operationId":"getRestockHistory","parameters":[{"name":"id","in":"path","description":"Mahsulot ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Tarix ro'yxati","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StockMovementResponse"}}}}},"404":{"description":"Mahsulot topilmadi","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StockMovementResponse"}}}}}}}},"/api/products/low-stock":{"get":{"tags":["Mahsulotlar"],"summary":"Kam qolgan mahsulotlar","description":"Qoldig'i berilgan chegaradan (default 5) kam yoki teng bo'lgan mahsulotlar. Umumiy sonni javobdagi totalElements beradi.","operationId":"getLowStock","parameters":[{"name":"threshold","in":"query","description":"Qoldiq chegarasi","required":false,"schema":{"type":"integer","format":"int32","default":5}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Kam qolgan mahsulotlar ro'yxati","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModel"}}}}}}},"/api/products/barcode/{barcode}":{"get":{"tags":["Mahsulotlar"],"summary":"Mahsulotni shtrix-kod bo'yicha olish","operationId":"getByBarcode","parameters":[{"name":"barcode","in":"path","description":"Shtrix-kod","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Mahsulot topildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}},"404":{"description":"Shtrix-kod topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/api/products/barcode/{barcode}/external-lookup":{"get":{"tags":["Mahsulotlar"],"summary":"Shtrix-kodni tashqi bazadan qidirish","description":"Mahsulot bazada topilmasa, tashqi manbadan ma'lumot olish","operationId":"externalLookup","parameters":[{"name":"barcode","in":"path","description":"Shtrix-kod","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tashqi bazadan ma'lumot topildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarcodeLookupResponse"}}}},"404":{"description":"Hech qayerda topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarcodeLookupResponse"}}}}}}},"/api/outflows":{"get":{"tags":["Chiqim"],"summary":"Barcha chiqimlarni olish","description":"Sahifalangan holda chiqimlar ro'yxati (default: 20 ta, vaqt bo'yicha kamayish tartibida)","operationId":"getAllOutflows","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Chiqimlar ro'yxati","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModel"}}}}}}},"/api/orders/{id}":{"get":{"tags":["Buyurtmalar"],"summary":"Buyurtmani ID bo'yicha olish","operationId":"getById_2","parameters":[{"name":"id","in":"path","description":"Buyurtma ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Buyurtma topildi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderResponse"}}}},"404":{"description":"Buyurtma topilmadi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderResponse"}}}}}}},"/api/debts/{id}/payments":{"get":{"tags":["Qarzlar"],"summary":"Qarz to'lovlari tarixini olish","description":"Berilgan qarz uchun barcha to'lovlar ro'yxati (yangi → eski tartibida)","operationId":"getPayments","parameters":[{"name":"id","in":"path","description":"Qarz ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"To'lovlar tarixi","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DebtPaymentResponse"}}}}},"404":{"description":"Qarz topilmadi","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DebtPaymentResponse"}}}}}}}},"/api/auth/me":{"get":{"tags":["Autentifikatsiya"],"summary":"Joriy foydalanuvchi va token holatini tekshirish","description":"Har qanday rol uchun ochiq — mobil ilova ishga tushganda saqlangan tokenning hali amal qilishini tekshirish uchun ishlatiladi","operationId":"me","responses":{"200":{"description":"Token amal qiladi","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}},"401":{"description":"Token yo'q yoki muddati o'tgan","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}}}}},"/api/devices":{"delete":{"tags":["Qurilmalar"],"summary":"FCM tokenini o'chirish (logout)","operationId":"unregister","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"UserUpdateRequest":{"type":"object","properties":{"pin":{"type":"string","pattern":"\\d{4}"},"fullName":{"type":"string"},"role":{"type":"string","enum":["SUPER_ADMIN","CASHIER"]}},"required":["fullName","role"]},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"fullName":{"type":"string"},"role":{"type":"string","enum":["SUPER_ADMIN","CASHIER"]},"active":{"type":"boolean"}}},"SettingsRequest":{"type":"object","properties":{"language":{"type":"string"},"darkMode":{"type":"boolean"}},"required":["darkMode","language"]},"SettingsResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"language":{"type":"string"},"darkMode":{"type":"boolean"}}},"ProductRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":255,"minLength":0},"barcode":{"type":"string","maxLength":255,"minLength":0},"purchasePrice":{"type":"number"},"price":{"type":"number"},"stockQuantity":{"type":"integer","format":"int32"}},"required":["name","price","purchasePrice","stockQuantity"]},"ProductResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"barcode":{"type":"string"},"purchasePrice":{"type":"number"},"price":{"type":"number"},"stockQuantity":{"type":"integer","format":"int32"}}},"DebtRequest":{"type":"object","properties":{"customerName":{"type":"string"},"phone":{"type":"string"},"amount":{"type":"number"},"orderId":{"type":"integer","format":"int64"}},"required":["amount","customerName"]},"DebtResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"customerName":{"type":"string"},"phone":{"type":"string"},"amount":{"type":"number"},"paidAmount":{"type":"number"},"createdAt":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["PAID","PARTIAL","UNPAID"]},"orderId":{"type":"integer","format":"int64"}}},"DebtPayRequest":{"type":"object","properties":{"amount":{"type":"number"}},"required":["amount"]},"UserRequest":{"type":"object","properties":{"pin":{"type":"string","pattern":"\\d{4}"},"fullName":{"type":"string"},"role":{"type":"string","enum":["SUPER_ADMIN","CASHIER"]}},"required":["fullName","pin","role"]},"SmsSendRequest":{"type":"object","properties":{"recipients":{"type":"array","items":{"type":"string","maxLength":32,"minLength":0},"maxItems":1000,"minItems":0},"message":{"type":"string","maxLength":1000,"minLength":0}},"required":["message","recipients"]},"SmsCampaignResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"message":{"type":"string"},"recipients":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"smsCount":{"type":"integer","format":"int32"},"delivered":{"type":"boolean"}}},"RestockRequest":{"type":"object","properties":{"quantity":{"type":"integer","format":"int32","maximum":1000000}},"required":["quantity"]},"OutflowRequest":{"type":"object","properties":{"quantity":{"type":"integer","format":"int32"},"reason":{"type":"string","enum":["DAMAGED","LOST","RETURNED"]},"note":{"type":"string"}},"required":["quantity","reason"]},"OutflowResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"productName":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"reason":{"type":"string","enum":["DAMAGED","LOST","RETURNED"]},"note":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"StockReceiveRequest":{"type":"object","properties":{"barcode":{"type":"string","maxLength":255,"minLength":0},"name":{"type":"string","maxLength":255,"minLength":0},"purchasePrice":{"type":"number"},"price":{"type":"number"},"quantity":{"type":"integer","format":"int32","maximum":1000000}},"required":["barcode","price","purchasePrice","quantity"]},"OrderItemRequest":{"type":"object","properties":{"productId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}},"required":["productId","quantity"]},"OrderRequest":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/OrderItemRequest"}},"discountAmount":{"type":"number","minimum":0},"paymentMethod":{"type":"string","enum":["CASH","CARD","MIXED","CREDIT"]},"customerName":{"type":"string","maxLength":255,"minLength":0},"customerPhone":{"type":"string","maxLength":32,"minLength":0},"paidAmount":{"type":"number"}},"required":["items","paymentMethod"]},"OrderItemResponse":{"type":"object","properties":{"productName":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"unitPrice":{"type":"number"},"profit":{"type":"number"}}},"OrderResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"subtotal":{"type":"number"},"discountAmount":{"type":"number"},"totalAmount":{"type":"number"},"createdAt":{"type":"string","format":"date-time"},"paymentMethod":{"type":"string","enum":["CASH","CARD","MIXED","CREDIT"]},"items":{"type":"array","items":{"$ref":"#/components/schemas/OrderItemResponse"}}}},"DeviceTokenRequest":{"type":"object","properties":{"token":{"type":"string","maxLength":512,"minLength":0},"platform":{"type":"string","pattern":"(?i)ANDROID|IOS|WEB"}},"required":["token"]},"LoginRequest":{"type":"object","properties":{"pin":{"type":"string","pattern":"\\d{4}"}},"required":["pin"]},"LoginResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"token":{"type":"string"},"fullName":{"type":"string"},"role":{"type":"string"}}},"UserStatusRequest":{"type":"object","properties":{"active":{"type":"boolean"}},"required":["active"]},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"PageMetadata":{"type":"object","properties":{"size":{"type":"integer","format":"int64"},"number":{"type":"integer","format":"int64"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int64"}}},"PagedModel":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object"}},"page":{"$ref":"#/components/schemas/PageMetadata"}}},"SmsBalanceResponse":{"type":"object","properties":{"balance":{"type":"integer","format":"int64"},"mock":{"type":"boolean"}}},"ProductSalesResponse":{"type":"object","properties":{"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"quantitySold":{"type":"integer","format":"int64"}}},"SalesReportResponse":{"type":"object","properties":{"from":{"type":"string","format":"date"},"to":{"type":"string","format":"date"},"totalOrders":{"type":"integer","format":"int64"},"totalRevenue":{"type":"number"},"totalProfit":{"type":"number"},"creditSalesAmount":{"type":"number"},"topProducts":{"type":"array","items":{"$ref":"#/components/schemas/ProductSalesResponse"}}}},"DailySalesResponse":{"type":"object","properties":{"date":{"type":"string","format":"date"},"totalOrders":{"type":"integer","format":"int64"},"totalRevenue":{"type":"number"},"totalProfit":{"type":"number"},"creditSalesAmount":{"type":"number"}}},"UserSalesResponse":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"fullName":{"type":"string"},"role":{"type":"string"},"totalOrders":{"type":"integer","format":"int64"},"totalRevenue":{"type":"number"},"totalProfit":{"type":"number"}}},"StockMovementResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["IN","OUT","SALE","ADJUSTMENT"]},"productName":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"performedBy":{"type":"string"},"reason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"BarcodeLookupResponse":{"type":"object","properties":{"barcode":{"type":"string"},"found":{"type":"boolean"},"name":{"type":"string"},"brand":{"type":"string"}}},"DebtPaymentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"amount":{"type":"number"},"performedBy":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"MeResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"fullName":{"type":"string"},"role":{"type":"string"}}}},"securitySchemes":{"Bearer Authentication":{"type":"http","description":"JWT token kiriting. /api/auth/login dan olingan token","scheme":"bearer","bearerFormat":"JWT"}}}}